title{
    font-size: xx-large;
}
    body {
    background-color: rgb(175, 101, 101);
}

h1{
    color: aliceblue;
    font-size: xx-large;
}
p{
    font-size: x-large;
    color: white;
}
title{
    font-size: xx-large;
}
