title{
    font-size: xx-large;
}
    body {
    background-color: rgb(175, 101, 101);
}

h1{
    color:#FC7959;
    font-size: xx-large;
    background-color: white;
}
p{
    font-size: x-large;
    color: white;
}
title{
    font-size: xx-large;
}
h2{
    color: #EA8F75;
    background-color: white;
}
